

.button{
    -fx-background-color: none;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: #616161;
}

.button:hover{
    -fx-background-color: rgba(235, 164, 33, 0.5);
}

